@import "spinner.scss";
@import "agency.css";

.page {
  background: #fff;
  display: block;
}
.page-height {
  min-height: 100vh;
  padding-top: 12px;
}
.header-nav li:last-child {
  margin-left: auto;
  margin-right: 40px;
}
.w-150px {
  width: 150px !important;
}
.w-200px {
  width: 200px !important;
}
.min-w-200px {
  min-width: 200px !important;
}
.pointer {
  cursor: pointer;
}
.error-input {
  border-color: red;
}
.max-w-500 {
  max-width: 500px;
}
.footer {
  margin-top: 25px;
}
.badge {
  font-size: 100%;
}
.avatar-success {
  background-color: #5eba00;
  color: #fff;
}
.tracking-steps .track,
.tracking-steps .track-active {
  top: 37px;
  left: 15%;
  margin: auto;
  transition: width 2s;
  border-top: dotted 2px #ccc;
}
.tracking-steps .track {
  width: 70% !important;
}
.tracking-steps .track-active {
  border-top: solid 6px #5eba00;
  width: 0;
  top: 35px;
}
.tracking-steps .track-active.en-route {
  width: 35%;
}
.tracking-steps .track-active.delivered {
  width: 70%;
}
.card-body > .border-bottom:last-child {
  border-bottom: none !important;
}
